include ../../utils/mixins

section(class="advantages")
    .advantages__wrapper
        h1(class="visually-hidden") Смесители Sunny
        ul(class="advantages__list")
            li
                img(src="assets/img/feautures-1.jpg", width="320", height="200", alt="Превосходство технологий")
            li
                img(src="assets/img/feautures-2.jpg", width="320", height="200", alt="Превосходство технологий")
            li
                img(src="assets/img/feautures-3.jpg", width="320", height="200", alt="Превосходство технологий")
        div
            h2 Превосходство технологий
            ul
                li Идеальная геометрия, разработанная по стандарту Smart Angle – математически выверенное соотношение высоты смесителя, длины излива и наклона корпуса для самого удобного использования на любой раковине.
                li Смесители Sunny оборудованы специально спроектированным для AM.PM керамическим картриджем SoftMotion 35 мм, который обеспечивает оптимальную регулировку температуры, а также позволяет выдерживать любые перепады давления.
                li Корпус смесителей Sunny изготовлен по принципу цельного литья из латуни. Покрытие Everlast – вдвое превышает отраслевые стандарты по прочности и износостойкости. Прочнее, чем у космического корабля.