include ../../utils/mixins

section(class="advantages")
    h1(class="visually-hidden") Смесители Sunny
    .advantages__wrapper.advantages__wrapper--first
        img(src="assets/img/intro-mobile.jpg", width="320", height="400", alt="Озаряет реальность")
        img(src="assets/img/intro.jpg", width="320", height="200", alt="Озаряет реальность")
        .advantages__content
            h2 Озаряет реальность
            p Смесители Sunny — ярчайшая звезда коллекций АМ.РМ. Экстраординарный дизайн, вдохновляющий на свершения, делает ванную комнату вашим тайным местом силы и перезагрузки. Эстетика и функциональность — то, что моментально приковывает взгляды.

    .advantages__wrapper.advantages__wrapper--second
        ul(class="advantages__list")
            li
                .advantages__item.advantages__item--first
                    h2 Превосходство технологий
                    p Идеальная геометрия, разработанная по стандарту Smart Angle – математически выверенное соотношение высоты смесителя, длины излива и наклона корпуса для самого удобного использования на любой раковине.
                img(src="assets/img/feautures-1.jpg", width="320", height="200", alt="Превосходство технологий")
            li
                .advantages__item.advantages__item--second
                    h2 Превосходство технологий
                    p Смесители Sunny оборудованы специально спроектированным для AM.PM керамическим картриджем SoftMotion 35 мм, который обеспечивает оптимальную регулировку температуры, а также позволяет выдерживать любые перепады давления.
                img(src="assets/img/feautures-2.jpg", width="320", height="200", alt="Превосходство технологий")
            li
                .advantages__item.advantages__item--third
                    h2 Превосходство технологий
                    p Корпус смесителей Sunny изготовлен по принципу цельного литья из латуни. Покрытие Everlast – вдвое превышает отраслевые стандарты по прочности и износостойкости. Прочнее, чем у космического корабля.
                img(src="assets/img/feautures-3.jpg", width="320", height="200", alt="Превосходство технологий")

    .advantages__wrapper.advantages__wrapper--third
        ul(class="advantages__overlays")
            li(class="advantages__wrap")
                img(src="assets/img/overlay-1-mobile.png", width="320", height="200", alt="Центр притяжения вашей ванной комнаты")
                img(src="assets/img/overlay-1.png", width="320", height="200", alt="Центр притяжения вашей ванной комнаты")
                .advantages__overlay
                    h2 Центр притяжения вашей ванной комнаты
            li(class="advantages__wrap")
                img(src="assets/img/overlay-2-mobile.png", width="320", height="200", alt="Центр притяжения вашей ванной комнаты")
                img(src="assets/img/overlay-2.png", width="320", height="200", alt="Центр притяжения вашей ванной комнаты")
                .advantages__overlay
                    p Спроектированный ведущим дизайн-бюро из Германии, Brandis, смеситель имеет запоминающуюся, эффектную ручку, напоминающую архитектуру межгалактического шаттла. Погрузитесь в атмосферу Sci-fi прямо у себя в ванной комнате. Впервые дизайнерское решение такого уровня представлено в коллекции доступного ценового сегмента.
            li
                img(src="assets/img/overlay-3-mobile.png", width="320", height="200", alt="Центр притяжения вашей ванной комнаты")
                img(src="assets/img/overlay-3.png", width="320", height="200", alt="Центр притяжения вашей ванной комнаты")