section(class="brandis")
    .brandis__wrapper
        .brandis__content
            h2 Дизайн, который заставляет сердце биться чаще
            p Дизайнерское агентство Brandis Industrial Design было основано в 1995 году в Нюрнберге, Германия, Майклом Брандисом. Более 90 международных наград в области дизайна подтверждают официальную компетенцию творческой команды, разрабатывающей неординарные продукты в различных областях, таких как: бытовая электроника, связь, здравоохранение, в сотрудничестве со своими известными клиентами: Bosch, Siemens, Sennheiser, Uvex и AM.PM
            img(src="assets/img/brandis-logo.svg" width="100" height="24" alt="Brandis Industrial Design")
        img(class="brandis__picture", src="assets/img/brandis.png" width="640" height="265" alt="Brandis")