@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin content {
  margin: 0;
  padding: 0;
}

@mixin button {
  display: block;
  border: 0;
  padding: 0;
}

@mixin tondoCorpLight($size: false, $colour: false,  $lh: false) {
  font-family: "TondoCorp-Light", "Arial", sans-serif;

  @if $size {
    font-size: $size;
  }

  @if $colour {
    color: $colour;
  }

  @if $lh {
    line-height: $lh;
  }
}

@mixin tondoCorpRegular($size: false, $colour: false,  $lh: false) {
  font-family: "TondoCorp-Regular", "Arial", sans-serif;

  @if $size {
    font-size: $size;
  }

  @if $colour {
    color: $colour;
  }

  @if $lh {
    line-height: $lh;
  }
}

@mixin tondoCorpBold($size: false, $colour: false,  $lh: false) {
  font-family: "TondoCorp-Bold", "Arial", sans-serif;

  @if $size {
    font-size: $size;
  }

  @if $colour {
    color: $colour;
  }

  @if $lh {
    line-height: $lh;
  }
}

@mixin icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
}

@mixin pseudo ($display: block, $pos: absolute) {
  display: $display;
  position: $pos;
}

@mixin respond-above ($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin wrapper {
  max-width: 1440px;
  margin: 0 auto;

  @include respond-above ($breakpoints-desktop) {
    margin: 0;
  }

  @include respond-above ($breakpoints-mobile) {
    min-width: 320px;
  }
}
