//Цвета
$color-first: #222222;
$color-second: #ffffff;
$color-third: #F4F6F9;
$color-fourth: #0F1216;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//остальное
$breakpoints-mobile: 767px;
$breakpoints-tablet: 1023px;
$breakpoints-desktop: 1439px;
$breakpoints-desktop-wide: 1919px;
