.advantages {
  width: 100%;
  background-color: $color-fourth;
}

.advantages ul {
  @include list;
}

.advantages__wrapper {
  @include wrapper;
}

.advantages__wrapper img {
  width: 100%;
  height: auto;
}

.advantages__wrapper h2 {
  @include content;
  @include tondoCorpBold(50px, $color-second, 65px);
  text-align: center;

  @include respond-above ($breakpoints-tablet) {
    font-size: 24px;
    line-height: 31px;
  }
}

.advantages__wrapper p {
  @include content;
  @include tondoCorpRegular(16px, $color-second, 24px);
  text-align: center;

  @include respond-above ($breakpoints-tablet) {
    font-size: 13px;
    line-height: 19px;
  }
}

.advantages__wrapper--second h2 {
  @include content;
  @include tondoCorpBold(40px, $color-second, 52px);

  @include respond-above ($breakpoints-tablet) {
    font-size: 18px;
    line-height: 23px;
  }
}

.advantages__wrapper--second p {
  text-align: left;
}

.advantages__wrapper--second h2 {
  text-align: left;
}

.advantages__wrapper--first {
  position: relative;
}

.advantages__wrapper--first::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(7, 6, 11, 0.3) 0%, #07060B 100%);
  opacity: 0.5;
  @include icon;
  left: 0;
  top: 0;
}

.advantages__wrapper--first h2 {
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 600px;
}

.advantages__wrapper--first p {
  margin: 0 auto;
  max-width: 600px;
}

.advantages__content {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 60px;

  @include respond-above ($breakpoints-tablet) {
    top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.advantages__wrapper--first img:first-child {
  display: none;

  @include respond-above (639px) {
    display: block;
  }
}

.advantages__wrapper--first img:last-child {
  display: block;

  @include respond-above (639px) {
    display: none;
  }
}

.advantages__wrapper--second li {
  position: relative;
}

.advantages__item {
  max-width: 400px;
  display: block;
  position: absolute;
  width: 100%;
  left: 80px;
  top: 258px;

  @include respond-above (1200px) {
    top: 100px;
  }

  @include respond-above ($breakpoints-tablet) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    position: static;
  }
}

.advantages__item h2 {
  margin-bottom: 56px;
  max-width: 300px;

  @include respond-above ($breakpoints-tablet) {
    margin-bottom: 25px;
    max-width: 134px;
  }
}

.advantages__item p {
  padding-top: 104px;
  position: relative;
  max-width: 400px;

  @include respond-above ($breakpoints-tablet) {
    padding-top: 70px;
    max-width: 300px;
  }
}

.advantages__item p::before {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  top: 0;
  @include icon;
  background-size: 80px 80px;
  background-color: red;

  @include respond-above ($breakpoints-tablet) {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
  }
}

.advantages__item--first p::before {
  background-image: url("../img/smart-1.svg");
}

.advantages__item--second p::before {
  background-image: url("../img/smart-2.svg");
}

.advantages__item--third p::before {
  background-image: url("../img/smart-3.svg");
}

.advantages__wrapper--third .advantages__wrap {
  position: relative;
  display: block;
}

.advantages__wrapper--third .advantages__wrap::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(7, 6, 11, 0.3) 0%, #07060B 100%);
  opacity: 0.5;
  @include icon;
  left: 0;
  top: 0;
}

.advantages__wrapper--third h2 {
  margin: 0 auto;
  max-width: 600px;
}

.advantages__wrapper--third p {
  margin: 0 auto;
  max-width: 600px;
}

.advantages__overlays li {
  position: relative;
}

.advantages__overlay {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 45%;

  @include respond-above ($breakpoints-tablet) {
    top: 30%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.advantages__overlays li img:first-child {
  display: none;

  @include respond-above (639px) {
    display: block;
  }
}

.advantages__overlays li img:nth-child(2) {
  display: block;

  @include respond-above (639px) {
    display: none;
  }
}
