block variables

doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        title #{title}
        meta(name="description", content=description)
        meta(name="viewport", content="width=device-width,initial-scale=1")
        block head

    body
        include ../includes/modules/advantages
        include ../includes/modules/brandis
        include ../includes/modules/sunny
